<div class="wide">LoxBerry Update Korrektur</div>
<p>Dieses FIX-Plugin installiert eine aktualisierte Version von LoxBerry Update. Eine Änderung bei GitHub (wovon unsere Updates direkt installiert werden) hat verursacht, dass unsere Abfrage nach der Dateigröße zum Prüfen der Integrität nicht mehr funktioniert.<p>
<p>Dieser Fix entfernt diese Prüfung. Wir gehen davon aus, dass die Integritätsprüfung beim Entzippen des Pakets ausreicht.<p>
<p>Nach der Installation LoxBerry Update normal ausführen. Solltest du eine Version <b>unter 1.2.4</b> installieren, wird wieder die alte Version von LoxBerry Update installiert. In diesem Fall musst du dieses Plugin nochmal installieren.</p>
<p>Ab Version 1.2.4 ist die Korrektur im Update enthalten.</p>
<p>Wenn alles geschafft ist, kannst du dieses Plugin wieder deinstallieren.</p>
<p>Viel Glück!</p>
<hr>
<div class="wide">LoxBerry Update Hotfix</div>
<p>This HOTFIX plugin installs a newer version of LoxBerry Update. Because of a change at GitHub (from where all of our updates are downloaded directly) our filesize check request fails and LoxBerry stops downloading the new version.</p>
<p>This hotfix removes this check. We think, that the integrity check of the following unzip should be enough.</p>
<p>You now can use LoxBerry Update and it should work. If you get a version <b>below 1.2.4</b>, you will again get the old LoxBerry Update version with the problem. In that case, for the next update you have to reinstall this plugin to fix it again.</p>
<p>From 1.2.4 the fix is in the update package.</p>
<p>After you've successfully installed the new version, you simply can uninstall this plugin.</p>
<p>Good luck!</p>